@import "$HOME/.config/themes/current.css";

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    background-color: alpha(@bg,.5);
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @color7;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@bg,.2);
}
#input image {
    border: none;
    color: @color9;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @color7;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @color7;

}
/* Highlighted entry */
#entry:selected {
    border: none;
    border-radius: 20px;
    background-color: alpha(@color8,.4);
}
#entry:drop(active) {
    background-color: @color7 !important;
}