@import "$HOME/.config/themes/current.css";

* {
    all:unset;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(@bg,.5);
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;

}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @color11;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius: 10px;
    background-color: alpha(@bg,.2);
}
#input image {
    border: none;
    color: @color9;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}
#entry {
    all:unset;
    padding: 20 0 20 45;
}
#entry:selected {
    border: none;
    border-radius: 20px;
    background-color: alpha(@color11,.2);
}
